@model Lab5.Models.DerangementsViewModel

@{
    ViewData["Title"] = "Derangements";
}

<h1>Derangements</h1>
<p>
    Введіть кількість гостей, щоб знайти можливу кількість способів розсадити гостей.
</p>
<form method="post" action="/Labs/Derangements">
    <div class="form-group">
        <label for="Number">Кількість гостей:</label>
        <input type="number" name="Number" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Обчислити</button>
</form>

@if (Model.Result.HasValue)
{
        <strong>Результат:</strong> @(Model.Result)
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}